.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 100%;
    max-width: 800px;
  }
  
  .recharts-cartesian-axis-tick text {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    fill: #333;
  }
  
  .recharts-bar-rectangle:hover {
    fill: #ff7c43 !important; /* Change color on hover */
  }
  
  .recharts-tooltip-wrapper {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color: #fff;
    padding: 5px;
  }
  
  .recharts-default-tooltip {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  
  .recharts-legend-item text {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    fill: #4f78f7;
  }
  